@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #171717;
  }
}

html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: 'Kumbh Sans', sans-serif;
  background: radial-gradient(circle at top, #414141, #212121, #0c0c0c);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
  color: #717171;
}


html::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #6d6d6d;
  color: #ffffff;
}

h1 {
  font-weight: 700;
  text-align: center;
  color: white;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  color: white;
}

h3 {
  font-size: 15px;
  font-weight: 700;
  color: gray;
}

@property --border-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}


.slidermain {
  margin: 10px;
}

.slidermain .container {
  background-color: blue;
  padding: 40px 0;
}

.slidermain .container img {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.checkmark::before {
  content: "\2713";
  font-size: 16px;
  color: green;
  margin-right: 8px;
}